* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
textarea {
    font-family: "Poppins", sans-serif;
}

.container.msg {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: #fafafa54;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    max-width: 820px;
    /* height: 300px; */
    min-height: 410px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-info {
    background-color: #ededed;
}
.contact-form {
    background-color: #ededed;
    position: relative;
}
form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}
.title {
    color: black;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.input-container {
    position: relative;
    margin: 1rem 0;
}

.form-control {
    width: 100%;
    outline: none;
    border: 2px solid #ededed;
    background: white;
    padding: 0.6rem 1.2rem;
    color: black;
    font-weight: 500;
    font-size: 0.95rem;
    border-radius: 10px;
    transition: 0.3s;
}

.input {
    width: 100%;
    outline: none;
    border: 2px solid #ededed;
    background: white;
    padding: 0.6rem 1.2rem;
    color: black;
    font-weight: 500;
    font-size: 0.95rem;
    border-radius: 10px;
    transition: 0.3s;
}

textarea.input {
    padding: 0.6rem 1.5rem;
    min-height: 270px;
    border-radius: 10px;
    resize: none;
    overflow: auto;
}

.input-container label {
    position: absolute;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: black;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
}
.form-control label {
    top: 1rem;
    transform: translateY(0);
}

/* Choose File Button */

.file-upload {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
}

.file-upload__input {
    display: none;
}

.file-upload__button {
    /* -webkit-appearance: none; */
    background: #fff;
    border: 2px solid green;
    border-radius: 4px;
    outline: none;
    padding: 0.5em 0.8em;
    margin-right: 15px;
    color: black;
    font-size: 1em;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.file-upload__button:active {
    background: #1abc9c;
}

.file-upload__label {
    max-width: 250px;
    font-size: 0.95em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Quicksand", sans-serif;
}

/* End of Choose File Button */

.btn.msg {
    background: #fff;
    border: 2px solid green;
    border-radius: 4px;
    outline: none;
    /* padding: 0.5em 0.8em; */
    padding: 0.5em 0;
    margin-right: 15px;
    color: black;
    font-size: 1em;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.upload-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
